/*
 * Thin
 * ExtraLight
 * Light
 * Regular
 * Medium
 * SemiBold
 * Bold
 * Black
 * Super
 */

@font-face {
    font-family: 'Graphik';
    font-weight: 300;
    font-style: normal;
    src: url('./graphik-light.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 400;
    font-style: normal;
    src: url('./graphik-regular.otf') format('opentype');
}


@font-face {
    font-family: 'Graphik';
    font-weight: 400;
    font-style: italic;
    src: url('./graphik-regularitalic.otf') format('opentype');
}


@font-face {
    font-family: 'Graphik';
    font-weight: 500;
    font-style: normal;
    src: url('./graphik-medium.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 600;
    font-style: normal;
    src: url('./graphik-semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 700;
    font-style: normal;
    src: url('./graphik-bold.otf') format('opentype');
}
